<div class="container content content-{body.class}">
	<div class="row">
		<div class="jumbotron">
		  <h1 class="display-4">Uptime Monitoring</h1>
		  <h3>Made Simple</h3>

		  <p class="lead">We offer free, simple uptime monitoring for HTTP/HTTPs sites of all kinds. When your site goes down, we'll send you a text to let you know. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		  <hr class="my-4">

		  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		  
		  <a href="account/create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Get Started</a>
		  <a href="session/create" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
		</div>
	</div>
</div>